/* Default Wrapper, should really gut this */
.example-wrapper { 
	margin: 1em auto;
	max-width: 800px;
	width: 95%;
	font: 12px sans-serif;
}
.example-wrapper code {
	background: #F5F5F5;
	padding: 2px 6px; 
}

/* Notifications */
.error, .success{
	margin: 0 4em;
	padding: 1em;
	color: white;
	border-radius: 0.2em;
	font-weight: bold;
	display: none;
}
.error{ background: #b3230c;}
.success{ background: green;}


/* Form */
form{ 
	background: #DEF2F9;
	margin: 2em 3em;
	padding: 2em 0;
	text-align: center;
}

form div div{
	margin: 0.5em;
}

form h1 { 
	color: #124F7B;
	margin: 0;
	margin-bottom: 1em;
}
form input { 
	border: 1px solid #00A9C3;
	padding: 0.8em;
	width: 25em;
	display:inline-block; 
	*display: inline;     /* for IE7*/
	zoom:1;              /* for IE7*/
}
label{ 
	text-align: right;
	font-weight: bold;
	margin-right: 1em;
	display:inline-block;
	width: 8em;
	*display: inline;     /* for IE7*/
	zoom:1;              /* for IE7*/
}
label:after { content: ":"; }
label, input {
	vertical-align: middle; 
	color: #124F7B;
}
form button{
	background: #F15A25;
	border: none;
	color: #FFF;
	padding: 0.5em 1.5em;
	border-radius: 0.2em;
	font-weight: bold;
}

/* Staff Table */
table{ 
	width: 100%;
	background: #124F7B;
	border-collapse: collapse;
}
table tbody tr:nth-child(even){ 
	background: #FFF; 
}
table tbody tr:nth-child(odd){ 
	background: #DEF2F9; 
}
table th, table td{ 
	text-align: left;
	padding: 0.75em 0 0.75em 1em;
}
table th p{ 
	color: #00A9C3; 
}
table td p{ 
	color: #124F7B; 
}
table th p, table td p{
	margin: 0;
	margin-left: 0.25em;
	font-weight: bold;
}
